<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/blog-post.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <div class="navbar">
        <div class="navbar-inner">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">t-blog</a>
            <ul class="nav">
              <li><a href="{{ url_for('index') }}">{{ _('Home') }}</a></li>
              {% if g.user.is_authenticated %}
              <li><a href="{{ url_for('user', nickname = g.user.nickname) }}">Your Profile</a></li>
              <li><a href="{{ url_for('logout') }}">Logout</a></li>
              {% endif %}
            </ul>
          <div class="nav-collapse collapse">
            {% if g.user.is_authenticated and g.search_enabled %}
            <form class="navbar-search pull-right" action="{{url_for('search')}}" method="post" name="search">{{g.search_form.hidden_tag()}}{{g.search_form.search(size=20,placeholder="Search",class="search-query")}}</form>
            {% endif %}
          </div>
        </div>
      </div>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1>About t-blog</h1>

                <!-- Author -->
                <p class="lead">
                    by <a href="http://tomiwa.ca">Tomiwa</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span>August 27, 2016</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="http://placehold.it/900x300" alt="">

                <hr>

                <!-- Post Content -->
                <p class="lead">t-blog is a blog written in python using the <a href="http://flask.pocoo.org/"> flask </a>microframework. Many thanks to <a href="http://blog.miguelgrinberg.com/">Miguel Grinberg's  </a>tutorial. Check out my<a href="http://blog.tomiwa.ca">short essay</a> on my thoughts about this sight.</p>
                <p class="lead">How to use t-blog</p>
                <ol>
                    <li>Create a Yahoo or AOL account.</li>
                    <li>Follow any of the following accounts</li>
                        <ul>
                            <li>{{url_for("user:galbraith")}}</li>

                        </ul>
                    <li>Start blogging!</li>
                </ol>
                <p>Though the social media </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, nostrum, aliquid, animi, ut quas placeat totam sunt tempora commodi nihil ullam alias modi dicta saepe minima ab quo voluptatem obcaecati?</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, dolor quis. Sunt, ut, explicabo, aliquam tenetur ratione tempore quidem voluptates cupiditate voluptas illo saepe quaerat numquam recusandae? Qui, necessitatibus, est!</p>

                <hr>



        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy;<a href="http://tomiwa.ca/tech"> Atila Tech </a></p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
